<footer class="footer">
		<div class="global-width text-center">
			<ul>
				<li><a href="http://kooboo.org" target="_blank">主页</a></li>
				<li><a href="http://kooboo.org/about" target="_blank">关于我们</a></li>
				<li><a href="http://kooboo.org/contact" target="_blank">联系我们</a></li>
				<li><a href="#" target="_blank">隐私协议</a></li>
				<li><a href="#" target="_blank">用户条款</a></li>
			</ul>
			<p class="copyright">&copy; 2017 亚尔迪(厦门)科技有限公司</p>
		</div>
</footer>

