<header class="header">
	<div class="global-width">
		<button type="button" class="navbar-toggle show-mobile">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<nav class="nav-wrapper">
			<h1 class="logo">
				<a href="#home">
					<picture>
						<source srcset="images/logo-white.png, images/logo@2x-white.png 2x">
						<img src="images/logo-white.png" alt="LOGO">
					</picture>
				</a>
			</h1>
			<ul class="clearfix nav">
				<li><a href="#download">下载</a></li>
				<li><a href="#feature">功能</a></li>
				<li><a href="#template">模板</a></li>
				<li><a href="#client">谁在用</a></li>
			</ul>
		</nav>

		<div class="btn-group hide-mobile">
			<a class="btn btn-line btn-short btn-radius" href="#">注册</a>
			<a class="btn btn-line btn-white btn-short btn-radius" href="#">登录</a>
		</div>
		<a class="signin show-mobile" href="#">{{>icon name="user"}}</a>
	</div>
</header>

