/* Global
------------------------------------------------------------------------------------------------*/

.global-width {
	margin: 0 auto;
	width: 90%;
	@include media($desktop) {
		max-width: 11.4rem;
	}
}

/* Header
------------------------------------------------------------------------------------------------*/

.header {
	box-sizing: border-box;
	color: $white;
	height: $base-unit*10.25;
	left: 0;
	padding-top: $base-unit*1.25;
	position: fixed;
	right: 0;
	top: 0;
	transition: padding-top .4s ease-in-out, height .4s ease-in-out, background-color .4s ease-in-out .2s;
	z-index: $header-z-index;
	.global-width {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: space-between;
		max-width: none;
		@include media($desktop) {
			padding: 0 $gap*2;
			width: auto;
		}
	}
	.logo {
		height: $base-unit*2.75;
		margin: 0 0 $base-unit*.75;
		transition: all .2s;
		img {
			display: block;
			height: 100%;
		}
	}
	.navbar-toggle {
		background-color: transparent;
		border: none;
		outline: none;
		padding: 0;
		span {
			background-color: $white;
			display: block;
			height: $base-unit*.125;
			margin-bottom: $base-unit*.5;
			width: $base-unit*2.25;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.nav-wrapper {
		align-items: center;
		display: flex;
		justify-content: flex-start;
		ul {
			font-size: $base-font-size/.875;
			margin: 0 0 0 $base-unit*1.75;
			padding: 0;
		}
		li {
			float: left;
			list-style: none;
			margin-left: $base-unit*3;
			text-align: center;
			transition: margin .2s;
			a {
				box-sizing: border-box;
				color: $white;
				display: block;
				line-height: $base-unit*2.5;
				margin: 0 auto;
				padding: $base-unit*2 $base-unit*1.75;
				position: relative;
				text-decoration: none;
				transition: all .2s;
			}
			&.active a, a:hover {
				color: $gray;
			}
		}
	}
	.btn-group .btn {
		margin: 0 $base-unit*.625;
		padding-bottom: $base-unit*.5;
		padding-top: $base-unit*.5;
	}
	.signin {
		color: $white;
		.icon {
			display: block;
			height: $base-unit*3;
			width: $base-unit*3;
		}
	}
	.scrolling & {
		background-color: $darkest;
		height: $base-unit*9;
		padding-top: 0;
		@include media($phone) {
			height: $base-unit*6;
		}
		@include media($phone){
			.nav-wrapper ul {
				top: $base-unit*6;
			}
		}
	}
	@include media($phone) {
		height: $base-unit*7.25;
		.logo {
			margin: 0 auto;
			overflow: hidden;
			width: $base-unit*2.75;
		}
		.nav-wrapper {
			ul {
				background-color: $darkest;
				display: none;
				left: 0;
				margin: 0;
				padding-bottom: $base-unit*1.75;
				position: absolute;
				top: $base-unit*7.25;
				transition: top .4s ease-in-out;
				width: 100%;
				li {
					display: block;
					float: none;
					margin-left: 0;
					text-align: left; 
					a {
						border-bottom: .01rem solid $gray-darkest;
						padding: $base-unit*1.75 0;
						width: 90%;
					}
					&:last-child a {
						border-bottom-color: transparent;
					}
				}
			}
		}
	}
}

/* Main
------------------------------------------------------------------------------------------------*/

.main {
	background: url('images/bg.jpg') no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	.widget {
		padding: 0 $gap;
	}
	.widget:nth-child(2n) {
		background-color: $white-dark;
	}
	.widget:nth-child(2n+1) {
		position: relative;
		/* &:after {*/
		/* 	background-color: $dark;*/
		/* 	content: '';*/
		/* 	height: 100%;*/
		/* 	left: 0;*/
		/* 	position: absolute;*/
		/* 	top: 0;*/
		/* 	width: 100%;*/
		/* }*/
	}
	.global-width {
		padding: $base-unit*12.5 0;
		@include media($phone-plus) {
			padding: $base-unit*8 0;
		}
	}
	@include media($phone-plus) {
		background-attachment: scroll;
	}
}

/* Footer
------------------------------------------------------------------------------------------------*/

.footer {
	background-color: $black;
	.global-width {
		padding: $gap*4 0;
	}
	ul {
		font-size: 0;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		font-size: $base-font-size/.875;
		list-style: none;
		margin-right: $base-unit*1.25;
	}
	a {
		color: $white;
		display: block;
		text-decoration: none;
	}		
	.copyright {
		color: $gray-dark;
		line-height: $rem-unit*.6;
		margin: 0;
	}
}
