.widget {
	.title {
		font-size: $base-unit*4;
		font-weight: 300;
		line-height: $base-unit*5;
		margin: 0 0 $base-unit 0;
	}
	.description {
        font-size: $base-unit*2.25;
		font-weight: 300;
		margin: 0 0 $gap*3 0;
	}
}
