.widget-download {
	background-color: $white-dark;
	.swiper-container{
		margin-bottom: $gap*4;
	}
	.feature-icon {
		color: $orange-dark;
		display: block;
		.icon {
			display: block;
			height: $base-unit*7;
			margin: 0 auto;
			width: $base-unit*7;
		}
	}
	.feature-title {
		font-size: $base-font-size/.875;
		font-weight: 300;
		line-height: $base-unit*3;
		margin: $gap 0 0 0;
	}
	.btn {
		color: $gray-darkest;
		font-size: $base-unit*2;
		font-weight: 600;
		margin-bottom: $gap*2;
		&:hover {
			background-color: transparent;
			border-color: $gray-darkest;
		}
	}
	&:after {
		display: none;
	}
}