.widget-download {
	background-color: $white-dark !important;
	.swiper-container{
		margin-bottom: $gap*2;
		.swiper-slide {
			margin: $gap*2 0 $gap*3;
		}
		.swiper-button-prev, .swiper-button-next {
			background: transparent;
			border-radius: 50%;
			color: $gray-darkest;
			height: $base-unit*7;
			margin-top: -$gap*3;
			transition: all 1s;
			width: $base-unit*7;
			.icon {
				display: block;
				height: $base-unit*3.5;
				margin: $base-unit*1.75;
				width: $base-unit*3.5;
			}
		}
		.swiper-button-prev {
			left: -$base-unit*2.5;
		}
		.swiper-button-next {
			right: -$base-unit*2.5;
			.icon {
				transform: rotate(180deg);
			}
		}
	}
	.feature-icon {
		color: $gray-darker;
		display: block;
		.icon {
			display: block;
			height: $base-unit*7;
			margin: 0 auto;
			transform: translateY(0);
			transition: all .4s;
			width: $base-unit*7;
		}
	}
	.swiper-slide:hover .icon {
		transform: translateY(-20%);
	}
	.feature-title {
		font-size: $base-unit*2;
		font-weight: 300;
		line-height: $base-unit*3;
		margin: $gap 0 0 0;
	}
	.btn {
		color: $gray-darkest;
		font-size: $base-unit*2.25;
		font-weight: 600;
		margin-bottom: $gap*2;
		&:hover {
			background-color: transparent;
			border-color: $gray-darkest;
		}
	}
	&:after {
		display: none;
	}
}