.widget-feature {
	background-color: $white !important;
	.feature-wrapper{
		justify-content: space-between;
	}
	.description {
		margin-top: $gap;
	}
	img {
		box-shadow: 0 0 $gap*3.25 (-$base-unit) $dark-light;
		max-width: 100%;
	}
}