.widget-home {
    box-shadow: 0 0 $base-unit $dark;
    padding-top: $base-unit*9 !important;
    position: relative;
    &:after {
        background-color: $dark;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .global-width {
        color: $white;
        padding: 7% 0;
        position: relative;
        z-index: 1;
    }
    .home-wrapper {
        justify-content: space-between;
    }
    h1 {
        font-size: $base-font-size*5;
        font-weight: 700;
        line-height: $base-font-size*5;
        margin: 0;
        @include media($phone) {
            font-size: $base-unit*6;
            line-height: $base-unit*6;
        }
    }
    p {
        font-size: $base-unit*2;
        margin: $base-unit*5 0;
    }
    .form-wrapper {
        background-color: $white-lightest;
        background-color: $dark-light;
        border-radius: $base-unit;
        box-sizing: border-box;
        font-size: $base-font-size/.875;
        max-width: $rem-unit*4.08;
        padding: $base-unit*6 $base-unit*5;
        .form-group {
            margin-bottom: $base-unit*4;
            text-align: left;
        }
        .btn {
            box-sizing: border-box;
            color: $gray-darkest;
            font-weight: 700;
            outline: none;
            width: 100%;
        }
        .input-block {
            background-color: $white;
            border: .01rem solid $gray-lighter;
            border-radius: $base-unit*.5;
            box-sizing: border-box;
            color: $gray-darkest;
            display: block;
            margin-top: $base-unit;
            outline: none;
            padding: $base-unit $base-unit*1.5;
            width: 100%;
        }
        @include media($phone) {
            margin: 0 auto;
        }
    }
    @include media($phone) {
        padding-top: $base-unit*6 !important;
        text-align: center;
    }
}
