.widget-template {
	background-color: $white !important;
	.list-wrapper {
		border: .01rem solid $gray-lighter;
		box-shadow: 0 .01rem .01rem -.01rem $dark-lighter;
		display: block;
		margin-bottom: $gap*2;
		overflow: hidden;
		padding-top: 60%;
		position: relative;
		img {
			display: block;
			max-width: 100%;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}