<!DOCTYPE html>
<html>

<head>
  <!--#include file="includes/head.shtml" -->
  <title>{{title}}</title>
</head>

<body>
  <!--#include file="includes/header.shtml" -->
  <div class="main">
    {{#block "body"}}{{/block}}
  </div>
  <!--#include file="includes/footer.shtml" -->
  <!--#include file="includes/scripts.shtml" -->
</body>

</html>

