<div class="widget widget-client" id="client">
	<div class="global-width">
		<div class="row">
			<div class="col-d-4 col-6">
				<img src="images/cheaptickets.png">
			</div>
			<div class="col-d-4 col-6">
				<img src="images/budgetair.png">
			</div>
			<div class="col-d-4 col-6">
				<img src="images/pinnaclesports.png">
			</div>
			<div class="col-d-4 col-6">
				<img src="images/rb2.png">
			</div>
			<div class="col-d-4 col-6">
				<img src="images/grolsch.png">
			</div>
		</div>
	</div>
</div>