<div class="widget widget-download" id="download">
	<div class="global-width">
		<h2 class="title">More wonderful features are in Kooboo Desktop</h2>
		<p class="description">Click to run, local edit, site management, local database...</p>
		<div class="swiper-container text-center">
			<div class="swiper-wrapper">
			    <div class="swiper-slide">
			    	<i class="feature-icon">{{>icon name="u4"}}</i>
			    	<h3 class="feature-title">slider1</h3>
			    </div>
			    <div class="swiper-slide">
			    	<i class="feature-icon">{{>icon name="use"}}</i>
			    	<h3 class="feature-title">slider2</h3>
			    </div>
			    <div class="swiper-slide">
			    	<i class="feature-icon">{{>icon name="use"}}</i>
			    	<h3 class="feature-title">slider3</h3>
			    </div>
			    <div class="swiper-slide">
			    	<i class="feature-icon">{{>icon name="use"}}</i>
			    	<h3 class="feature-title">slider4</h3>
			    </div>
			    <div class="swiper-slide">
			    	<i class="feature-icon">{{>icon name="use"}}</i>
			    	<h3 class="feature-title">slider5</h3>
			    </div>
			    <div class="swiper-slide">
			    	<i class="feature-icon">{{>icon name="use"}}</i>
			    	<h3 class="feature-title">slider6</h3>
			    </div>
			    <div class="swiper-slide">
			    	<i class="feature-icon">{{>icon name="develop"}}</i>
			    	<h3 class="feature-title">slider7</h3>
			    </div>
			    <div class="swiper-slide">
			    	<i class="feature-icon">{{>icon name="develop"}}</i>
			    	<h3 class="feature-title">slider8</h3>
			    </div>
			    <div class="swiper-slide">
			    	<i class="feature-icon">{{>icon name="develop"}}</i>
			    	<h3 class="feature-title">slider9</h3>
			    </div>
			    <div class="swiper-slide">
			    	<i class="feature-icon">{{>icon name="develop"}}</i>
			    	<h3 class="feature-title">slider10</h3>
			    </div>
			    <div class="swiper-slide">
			    	<i class="feature-icon">{{>icon name="use"}}</i>
			    	<h3 class="feature-title">slider11</h3>
			    </div>
			    <div class="swiper-slide">
			    	<i class="feature-icon">{{>icon name="use"}}</i>
			    	<h3 class="feature-title">slider12</h3>
			    </div>
			</div>
			<div class="swiper-button-prev hide-desktop">
			    {{>icon name="arrow"}}
		  	</div>
			<div class="swiper-button-next hide-desktop" >
			    {{>icon name="arrow"}}
		  	</div>
		</div>
		<div class="download-wrapper text-center">
			<a class="btn btn-radius btn-line btn-movtivation" href="#">Download</a>
			<div>
				<span>Version 1.0.0 | </span>
				<a href="#">What's new</a>
			</div>
		</div>
	</div>
</div>