<div class="widget widget-feature" id="feature">
	<div class="global-width">
		<div class="row">
			<div class="col-d-6 feature-wrapper">
				<i class="feature-icon">{{>icon name="use"}}</i>
				<div class="feature-description">
					<h2>快速使用</h2>
					<p>只需一键下载与安装。输入想要的网站网址或者选择喜欢的模板，只需修改内容，即可拥有自己的站点。</p>
				</div>
			</div>
			<div class="col-d-6 feature-wrapper">
				<i class="feature-icon">{{>icon name="develop"}}</i>
				<div class="feature-description">
					<h2>方便开发</h2>
					<p>无需数据库知识储备。用你最喜欢的本地工具进行编辑，内容即可自动同步。</p>
				</div>
			</div>
			<div class="col-d-6 feature-wrapper">
				<i class="feature-icon">{{>icon name="use"}}</i>
				<div class="feature-description">
					<h2>快速使用</h2>
					<p>只需一键下载与安装。输入想要的网站网址或者选择喜欢的模板，只需修改内容，即可拥有自己的站点。</p>
				</div>
			</div>
			<div class="col-d-6 feature-wrapper">
				<i class="feature-icon">{{>icon name="develop"}}</i>
				<div class="feature-description">
					<h2>方便开发</h2>
					<p>无需数据库知识储备。用你最喜欢的本地工具进行编辑，内容即可自动同步。</p>
				</div>
			</div>
			<div class="col-d-6 feature-wrapper">
				<i class="feature-icon">{{>icon name="use"}}</i>
				<div class="feature-description">
					<h2>快速使用</h2>
					<p>只需一键下载与安装。输入想要的网站网址或者选择喜欢的模板，只需修改内容，即可拥有自己的站点。</p>
				</div>
			</div>
			<div class="col-d-6 feature-wrapper">
				<i class="feature-icon">{{>icon name="develop"}}</i>
				<div class="feature-description">
					<h2>方便开发</h2>
					<p>无需数据库知识储备。用你最喜欢的本地工具进行编辑，内容即可自动同步。</p>
				</div>
			</div>
		</div>
	</div>
</div>