<div class="widget widget-home" id="home">
	<div class="global-width">
		<h1>inspiration.</h1>
		<p>Kooboo CMS help you build your website fast.</p>
{{!-- 		<div class="btn-group">
			<a class="btn btn-line btn-white btn-radius" href="#">建网站{{>icon name="web"}}</a>
			<a class="btn btn-line btn-white btn-radius" href="#download">看视频{{>icon name="video"}}</a>
			<a class="btn btn-line btn-white btn-radius" href="#">查文档{{>icon name="doc"}}</a>
		</div> --}}
	</div>
</div>