<div class="widget widget-template" id="template">
	<div class="global-width">
		<div class="swiper-container">
		  <div class="swiper-wrapper">
		    <div class="swiper-slide">
			    <h3 class="slider-title">模板一</h3>
		    	<div class="slider-wrapper">
			      <img class="slider-image" src="uploads/1.png">
				    <div class="slider-text">
{{!-- 				    	<div class="btn-group">
				      	<a class="btn btn-short btn-line btn-radius" href="#">应用</a>
				      	<a class="btn btn-short btn-line btn-radius" href="#">预览</a>
				     	</div> --}}
				    </div>
		    	</div>
		    </div>
		    <div class="swiper-slide">
			    <h3 class="slider-title">模板二</h3>
		    	<div class="slider-wrapper">
			      <img class="slider-image" src="uploads/2.png">
				    <div class="slider-text">
{{!-- 				    	<div class="btn-group">
				      	<a class="btn btn-short btn-line btn-radius" href="#">应用</a>
				      	<a class="btn btn-short btn-line btn-radius" href="#">预览</a>
				     	</div> --}}
				    </div>
		    	</div>
		    </div>
		    <div class="swiper-slide">
			    <h3 class="slider-title">模板三</h3>
		    	<div class="slider-wrapper">
			      <img class="slider-image" src="uploads/3.png">
				    <div class="slider-text">
{{!-- 				    	<div class="btn-group">
				      	<a class="btn btn-short btn-line btn-radius" href="#">应用</a>
				      	<a class="btn btn-short btn-line btn-radius" href="#">预览</a>
				     	</div> --}}
				    </div>
		    	</div>
		    </div>
		    <div class="swiper-slide">
			    <h3 class="slider-title">模板一</h3>
		    	<div class="slider-wrapper">
			      <img class="slider-image" src="uploads/1.png">
				    <div class="slider-text">
{{!-- 				    	<div class="btn-group">
				      	<a class="btn btn-short btn-line btn-radius" href="#">应用</a>
				      	<a class="btn btn-short btn-line btn-radius" href="#">预览</a>
				     	</div> --}}
				    </div>
		    	</div>
		    </div>
		    <div class="swiper-slide">
			    <h3 class="slider-title">模板二</h3>
		    	<div class="slider-wrapper">
			      <img class="slider-image" src="uploads/2.png">
				    <div class="slider-text">
{{!-- 				    	<div class="btn-group">
				      	<a class="btn btn-short btn-line btn-radius" href="#">应用</a>
				      	<a class="btn btn-short btn-line btn-radius" href="#">预览</a>
				     	</div> --}}
				    </div>
		    	</div>
		    </div>
		    <div class="swiper-slide">
			    <h3 class="slider-title">模板三</h3>
		    	<div class="slider-wrapper">
			      <img class="slider-image" src="uploads/3.png">
				    <div class="slider-text">
{{!-- 				    	<div class="btn-group">
				      	<a class="btn btn-short btn-line btn-radius" href="#">应用</a>
				      	<a class="btn btn-short btn-line btn-radius" href="#">预览</a>
				     	</div> --}}
				    </div>
		    	</div>
		    </div>
		  </div>
	      <!-- Add Pagination -->
		  <div class="swiper-pagination"></div>
		</div>
	</div>
</div>