<div class="widget widget-video">
	<div class="global-width">
		<video controls="controls" preload="auto" width="100%" height="100%">
			<source src="https://p-events-delivery.akamaized.net/1609lijbsdfvoihbadfvohbsdfvljhb/vod3/16jlhbfvohbadsfv09b2.mp4" type="video/mp4">
		</video>
	</div>
</div>