.row {
  display: flex;
  flex-flow: wrap;
  margin: 0 (-$gap);
  > div {
    box-sizing: border-box;
    padding: 0 $gap;
    width: 100%;
  }
  .col-1 {
    width: 8.3333%;
  }
  .col-2 {
    width: 16.6667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.3333%;
  }
  .col-5 {
    width: 41.6667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.3333%;
  }
  .col-8 {
    width: 66.6667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.3333%;
  }
  .col-11 {
    width: 91.6667%;
  }
  .col-12 {
    width: 100%;
  }
  @include media ($desktop) {
    .col-d-1 {
      width: 8.3333%;
    }
    .col-d-2 {
      width: 16.6667%;
    }
    .col-d-3 {
      width: 25%;
    }
    .col-d-4 {
      width: 33.3333%;
    }
    .col-d-5 {
      width: 41.6667%;
    }
    .col-d-6 {
      width: 50%;
    }
    .col-d-7 {
      width: 58.3333%;
    }
    .col-d-8 {
      width: 66.6667%;
    }
    .col-d-9 {
      width: 75%;
    }
    .col-d-10 {
      width: 83.3333%;
    }
    .col-d-11 {
      width: 91.6667%;
    }
    .col-d-12 {
      width: 100%;
    }
  }
  @include media ($tablet) {
    .col-m-1 {
      width: 8.3333%;
    }
    .col-m-2 {
      width: 16.6667%;
    }
    .col-m-3 {
      width: 25%;
    }
    .col-m-4 {
      width: 33.3333%;
    }
    .col-m-5 {
      width: 41.6667%;
    }
    .col-m-6 {
      width: 50%;
    }
    .col-m-7 {
      width: 58.3333%;
    }
    .col-m-8 {
      width: 66.6667%;
    }
    .col-m-9 {
      width: 75%;
    }
    .col-m-10 {
      width: 83.3333%;
    }
    .col-m-11 {
      width: 91.6667%;
    }
    .col-m-12 {
      width: 100%;
    }
  }
}

/* Hack for firefox*/

@-moz-document url-prefix() {
  .row > div {
    display: table;
  }
}

/* Hack for Edge*/

_:-ms-lang(x), _::-webkit-meter-bar, .row > div {
  display: table;
}
